<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Retirement Planner</title>
  </head>
  <body>
    <h1>Plan for your future!</h1>

    <div>
      <form>
        <label for="current_age">
          Enter your current age
          <input type="integer" name="current_age">
        </label>
        <br>
        <label for="current_age">
          Enter your target retirement age
          <input type="integer" name="retirement_age">
        </label>
        <br>
        <label for="target_income">
          Enter your target annual retirement income
          <input type="integer" name="target_income">
        </label>
        <br>
        <input type="submit" value="Calculate">
      </form>
    </div>
  </body>
</html>
