<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Retirement Planner</title>
  </head>
  <body>
    <h1>Here are your initial results:</h1>

    <div>
      <h1>Your current age is <%= @ages.current%>,</h1>
      <h1>you want to retire at age <%= @ages.retirement%></h1>
      <h1>which means you have <%= @ages.time_to_retirement %> years until you retire.</h1>
    </div>

    <div>

  </body>
</html>
